*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

header{
    display: inline-block;
    rotate: (-90deg);
    transform-origin: left top;
}

#cabeçalho{
    height: 100vh;
    width: 33%;
    background-color: aqua;
    display: grid;
    align-items: center;
}

#contact{
    padding-left: 30%;
    display: grid;
    align-items: center;
    height: 100vh;
    width: 50px;
}

img{
    height: 10vh;
    width: 10vw;
    border-radius: 10px;
}

#Perfil{
    size: 200px;
    background-color: antiquewhite;    
}

h1{
    padding-top: 15px;
    font-size: 1.25rem;
    color: black;
}

ul{
    padding-top: 5px;
}