*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
}

header{
    display: inline-block;
    rotate: (-90deg);
    transform-origin: left top;
    width: 50%;
    height: 100%;
    padding: 10px;
}

#cabeçalho{
    height: fit-content;
    width: fit-content;
    background-color: cadetblue;
    display: grid;
    align-items: center;
}

#contact{
    padding-left: 30%;
    display: grid;
    align-items: center;
    height: 100vh;
    width: 500px;
}

img{
    max-width: 100px;
    border-radius: 10px;
}

#Perfil{
    background-color: antiquewhite;    
}

h1{
    padding-top: 15px;
    font-size: 1.25rem;
    color: black;
}

ul{
    padding-top: 5px;
}

li{
    font-size: 1.2rem;
    padding-left: 5x;
    padding-top: 5px;
}

#linguagens{
    padding-left: 30px;
}

main{
    display: inline-block;
    rotate: (-90deg);
    transform-origin: right top;
    width: fit-content;
    padding: 10px;
}

h2{
    padding-top: 15px;
    font-size: 4rem;
    color: black;
}

p{
    padding-top: 20px;
    font-size: 1rem;
    justify-content: center;
    text-align: justify;
}